#table{
    width: 750px;
     margin: auto;
     
}

.headers{
    font-style: italic; 
    color: black; 
    font-weight: bolder; 
    font-size: 20px;
    text-decoration: underline;
}

input {
    outline: none;
    height: 35px;
    border: none;
}
table, td{
    border-collapse: collapse;    
}

table , td{
    border: 1px solid black;
}
tr{
    height: 35px;
}

.topBorderOff{
    border-top: none;
}
.left-right-border-off{
    border-left: none;
    border-right: none;
}

.border-none{
    border: none;
}
.border-right{
    border-right: none;
}
.border-left{
    border-left: none;
}
 
